.listbox {
  width: 50%;
  height: 10%;
  border: 1px;
  position: relative;
  top: 20%;
  left: 25%;
}

.pagenation {
  position: relative;
  left: 30%;
}

.navi {
  display: inline-block;
  position: fixed;
  width: 100%;
  }



body {
  background-color: #333333;

}
